<br />
<br />
<div style='text-align: center'>
  <a href='/views/products'>Go to Product List</a>
</div>
<br />
<br />
<div style='text-align: center'>
  <a href='/views/cart'>Go to Cart</a>
</div>
<br />
<br />
<div style='text-align: center'>
  <a href='/views/manageproducts'>Manage Products</a>
</div>
<br />
<br />
<div style='text-align: center'>
  <a href='/views/users'>Manage Users</a>
</div>
<br />
<br />
<div style='text-align: center'>
  <form action='/register/logout' method='post'>
    <button type='submit'>LOGOUT</button>
  </form>
</div>